mat-card {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title{
  color: #9585b6;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.subtitulo{
  text-align: center;
  color: #5c4c7c;
}
